{
	email rust-gold@mail.ru
}

tv.trikiman.shop {
	encode gzip
	reverse_proxy 127.0.0.1:5000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		flush_interval -1
		transport http {
			read_timeout 1h
			write_timeout 1h
		}
	}
}
